.header {
  background-color: rgb(53, 52, 56);
  height: 75px;
  padding:0%;
}

.box {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  background-color: skyblue;
  color:rgb(53, 52, 56);
  height:75%;
  width:25%;
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.menu {
  list-style: none;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  float:right;
  justify-content: center;
  margin:0 50px;
  padding:0;
}

.banner {
  width:100%;
  height: 200px;
}

.box-2 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
 
  background-color: skyblue;
  color:rgb(53, 52, 56);
  height:50px;
  width:30%;
  margin: 0;
  position: fixed;
  top: 215px;
  left: 815px;
}